.product_main {
    max-width: 1600px;
    margin: 0 auto;
}

.gallery .full {
    width: 80%;
    margin: 0 auto;
}
.gallery .full img {
    width: 100%;
}
.gallery .slider {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.gallery .slider .thumbnail {
    height: 150px;
    width: 150px;
    margin: 10px;
    display: inline-block;
}
.gallery .slider .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.gallery .slider .thumbnail.select {
    border: solid 2px blue;
    padding: 2px;
}
.gallery .control {
    position: absolute;
    top: 45%;
}
.gallery .control .left {
    left: 0;
}
.gallery .control .right {
    right: 0;
}